receivers:
  otlp:
    protocols:
      { grpc: { endpoint: "0.0.0.0:4317" }, http: { endpoint: "0.0.0.0:4318" } }

exporters:
  prometheus: { endpoint: "0.0.0.0:8889" }
  loki: { endpoint: "http://loki:3100/loki/api/v1/push" }
  otlp: { endpoint: "tempo:4317", tls: { insecure: true } }

service:
  pipelines:
    metrics: { receivers: [otlp], exporters: [prometheus] }
    logs: { receivers: [otlp], exporters: [loki] }
    traces: { receivers: [otlp], exporters: [otlp] }
